

# IntelliJ and PyCharm
.idea/
*.iml

# Cache and data folders
cache/
**/cache/
data/
**/data/

# JSON files (optional, if you want to block all)
*.json

# Specific folder paths
/Urban Green Space Accessibility Map/DataCollection/cache//Urban Green Space Accessibility Map/DataCollection/cache/
